body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(236, 227, 227, 0.852);
    color: rgb(90, 85, 85);
    font-style: italic;
    font-weight: bold;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(90, 85, 85);
    font-style: italic;
    font-weight: bold;
}